
.form {
  margin-bottom: 55px;
}

.form__text {
  font-family: 'Open-Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.form__title {
  font-family: 'Open-Sans', Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  color: #63d1bb;
  text-transform: uppercase;
  padding: 0;
}

.form__label {
  font-family: 'Open-Sans', Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  color: #000000;
  padding: 0;
}

.form__item-color {
  padding-bottom: 45px;
}
